{% extends "base.html" %}

{% block head_content %}
<title>Portal de Banderas Rojas en Contrataciones Abiertas del Paraguay - Acerca</title>
{% endblock %}

{% load static %}

{% block container %}
<div class="container-fluid fondoColorPrimario fondoPrincipalPagina tamanoMinimo">
<div class="container">
   <div class="row pb-2">
      <div class="col-md-12 mt-5 mb-5"><h1 class="textoColorBlanco textoTitular1Grueso textoAlineadoCentrado">Acerca del Proyecto</h1></div>
     <div class="col-md-12">
         <p class="textoColorBlanco textoAlineadoJustificado textoParrafoResaltado">
            Banderas Rojas en Contrataciones Publicas del Paraguay, es un portal desarrollado por los alumnos Elias Mora y Matias Rivas, como parte del proyecto final de grado
             correspondiente a la carrera Ingenieria Informatica de la Universidad Nacional de Asuncion, bajo la tutoria de los Docentes Juan Pane y Julio Paciello
         </p>
      </div>
     <div class="col-md-12">
         <div class="divisorTextos fondoColorBlanco mt-3 mb-4"></div>
      </div>
     <div class="col-md-12">
         <h4 class="textoColorBlanco textoTitular2Grueso">
               ¿En que consiste el Proyecto?
         </h4>
         <p class="textoColorBlanco textoAlineadoJustificado textoParrafoResaltado">
             Consiste en la deteccion de los indicadores de corrupcion, tambien denominados banderas rojas, en los procesos de contrataciones publicas del Paraguay,
             para tal efecto se utiliza un motor de reglas que contiene cada uno de estos indicadores.
         </p>
      </div>
             <div class="col-md-12">
         <div class="divisorTextos fondoColorBlanco mt-3 mb-4"></div>
      </div>
      <div class="col-md-12">
         <h4 class="textoColorBlanco textoTitular2Grueso">
               ¿De donde provienen los datos?
         </h4>
         <p class="textoColorBlanco textoAlineadoJustificado textoParrafoResaltado">
             Los datos son extraidos directamente de la API expuesta por Direccion Nacional de Contrataciones Publicas <a href="https://www.contrataciones.gov.py/datos/" class="textoColorBlanco enlaceFondoColor">(DNCP)</a>,
             los mismos son actulizados diariamente y el motor de reglas implementado detecta si estos cumplen con algun indicador declarado.
         </p>
      </div>
      <div class="col-md-12">
         <div class="divisorTextos fondoColorBlanco mt-3 mb-4"></div>
      </div>
      <div class="col-md-12">
         <h4 class="textoColorBlanco textoTitular2Grueso">
               ¿Que son los datos abiertos?
         </h4>
         <p class="textoColorBlanco textoAlineadoJustificado textoParrafoResaltado">
               Son datos que pueden ser libremente usados, reusados y redistribuidos por cualquiera, sujeto solamente, a lo sumo, a requisitos de atribución y redistribución con la misma licencia - Open Knowledge Foundation.
         </p>
      </div>
      <div class="col-md-12">
         <div class="divisorTextos fondoColorBlanco mt-3 mb-4"></div>
      </div>
      <div class="col-md-12">
            <h4 class="textoColorBlanco textoTitular2Grueso">
                  ¿Que es el  Estándar de Datos de las Contrataciones Abiertas (OCDS)?
            </h4>
            <p class="textoColorBlanco textoAlineadoJustificado textoParrafoResaltado">
                  El Estándar de Datos para las Contrataciones Abiertas (OCDS por sus siglas en inglés) permite la divulgación de datos y documentos de todas las etapas del proceso de contratación mediante la definición de un modelo de datos común. Se creó para apoyar a las organizaciones a aumentar la transparencia de la contratación y permitir un análisis más profundo de los datos de contrataciones por una amplia gama de usuarios.
                  <a href="http://standard.open-contracting.org/latest/es/" class="textoColorBlanco enlaceFondoColor">Accede a la documentación del estándar</a>
                  
            </p>
         </div>
   </div>
   
</div>
</div>
{% endblock %}

{% block script_content %}
<script src="{% static 'js/acerca.js' %}"></script>
{% endblock %}
